/** @format */
.home {
   background-attachment: fixed;
   font-family: "times new roman";
}

.detail {
   background-attachment: fixed;

   font-family: "times new roman";
   color: white;
}
.formcardbuttondelete {
   height: 25px;
   width: 25px;
   box-shadow: 0 0.5rem 0.25rem rgba(255, 190, 190, 0.4) inset;
   background-color: transparent;
   color: rgb(255, 103, 103);
   border-radius: 5px;
}
.formcardbuttondelete:hover {
   height: 25px;
   width: 25px;
   box-shadow: 0 0.5rem 0.25rem rgba(255, 90, 90, 0.4) inset;
   background-color: transparent;
   color: rgb(255, 0, 0);
   border-radius: 5px;
   border: red;
}
.home-cards {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
   border-radius: 15px;
}
.form-card-container {
   display: flex;
   flex-direction: column;
   align-items: center;
}
.formcard {
   display: flex;
   justify-content: left;
   align-items: top;
   white-space: break-word;
   font-size: 20px;
   width: 300px;
   height: 10px;
   box-shadow: 0 1rem 0.5rem rgba(66, 255, 236, 0.4) inset;
   padding: 30px 6px;
   color: white;
   border-radius: 15px;
   background-color: transparent;
   margin: 10px;
}
.card {
   width: min-content;
   box-shadow: 6px 15px 4px rgb(43, 43, 43);
   padding: 30px 6px;
   color: white;
   border-radius: 15px;
   background-color: transparent;
   margin: 10px;
}

#link-card {
   color: white;
   font-size: large;
}

.card-image {
   border-radius: 15px;
}

.nav-home {
   display: flex;
   justify-content: space-around;
   border: 30px;
}

.search-bar {
   text-align: left;
}

.sub-nav {
   box-shadow: 3px 6px 4px grey;
   border: 2px solid rgb(255, 255, 255);
   border-radius: 15px;
   text-align: left;
   padding: 5px;
   width: 30%;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: flex-end;
}

select {
   width: 80%;
   font-size: 18px;
   font-weight: bold;
}

#detail-page-title {
   color: rgb(241, 254, 2);
   font-weight: bolder;
   font-size: 4rem;

   text-shadow: 6px 6px 15px white;
   border: 4px solid white;
   border-radius: 15px;
   box-shadow: 3px 6px 10px white;
}

#title-home {
   color: rgb(241, 254, 2);
   font-weight: bolder;
   font-size: 4rem;
   text-shadow: 6px 6px 15px white;
   border: 4px solid white;
   border-radius: 15px;
   box-shadow: 3px 6px 10px white;
}

#container-button-landing {
   display: flex;
   justify-content: center;
   align-items: center;
}

.button-landing {
   color: white;
   font-weight: bolder;
   box-shadow: 2px 3px 3px white;
   border: 1px solid white;
   border-radius: 15px;
   margin: 2px;
   height: 70px;
   width: 300px;
   font-size: 2rem;
   background-color: transparent;
}

.button-landing:hover {
   background-color: transparent;
   color: rgb(53, 63, 255);
}

.button-page {
   box-shadow: 0 1rem 0.5rem rgba(224, 255, 66, 0.4) inset;
   background-color: transparent;
   text-align: center;

   color: black;
   font-size: 1rem;
   height: 30px;
   width: 30px;

   border: 2px solid black;
   border-radius: 7px;
   margin: 3px;
}

.button-page:hover {
   color: rgb(34, 243, 255);
   text-shadow: 1px 1px 3px white;
   box-shadow: 0 0.75rem 0.25rem rgba(227, 255, 19, 0.4) inset;
   background-color: transparent;
   border: 1px solid white;
   border-radius: 15px;
}

table {
   background-color: transparent;
   border: 1px solid white;
   text-align: left;
   font-size: 2rem;
   color: white;
}

td {
   border: 1px solid grey;
   width: 400px;
   height: 20px;
}

.main {
   font-family: "times new roman";
   display: flex;
   flex-direction: column;
}

#h1-error-page {
   font-weight: bolder;
   font-size: 4rem;
   display: flex;
   justify-content: space-around;
   text-shadow: 6px 6px 15px white;
   border: 4px solid white;
   border-radius: 15px;
   box-shadow: 3px 6px 10px white;
   color: rgb(241, 254, 2);
   font-size: 3rem;
}

#container-h2-form-page {
   display: flex;
   flex-direction: column;
   align-items: center;
}

#h2-form-page {
   width: 500px;
   font-weight: bolder;
   font-size: 2rem;

   text-shadow: 6px 6px 15px white;
   border: 4px solid white;
   border-radius: 15px;
   box-shadow: 3px 6px 10px white;
   color: rgb(241, 254, 2);
}

.button-error {
   color: white;
   font-weight: bolder;
   box-shadow: 0 2rem 1rem rgba(45, 104, 255, 0.4) inset;
   background-color: transparent;
   border: 3px solid black;
   border-radius: 15px;
   margin: 2px;
   height: 100px;
   width: 200px;
   font-size: 2rem;
}

.button-error:hover {
   background-color: white;
   color: rgb(0, 146, 154);
   box-shadow: 0 0.75rem 1rem rgba(255, 255, 255, 0.4) inset;
   font-size: 2rem;
   border: 3px solid black;
   border-radius: 15px;
   font-weight: bolder;
}

.button-form {
   background-color: transparent;
   box-shadow: 0 3rem 4rem rgba(80, 74, 255, 0.4) inset;
   color: black;
   font-size: 2rem;
   border: 3px solid black;
   border-radius: 15px;
   font-weight: bold;
   margin: 2px;
   height: 40px;
   width: 200px;
   font-size: 2rem;
}

.button-form:hover {
   color: rgb(34, 243, 255);
   text-shadow: 2px 2px 4px white;
   font-weight: bolder;
   box-shadow: 0 1rem 1rem rgba(57, 97, 255, 0.4) inset;
   border-radius: 15px;
   border: 3px solid white;
   background-color: transparent;
}

button {
   color: black;
   box-shadow: 0 0.8rem 1rem rgba(61, 67, 255, 0.4) inset;
   text-shadow: 1px 1px 4px white;
   border: 1px solid black;
   border-radius: 15px;
   margin: 2px;
   height: 25px;
   width: 100%;
   font-size: 1rem;
   font-weight: bold;
   background-color: transparent;
}

#input-search {
   font-size: 18px;
}

button:hover {
   color: rgb(17, 218, 222);
   text-shadow: 1px 1px 3px white;
   box-shadow: 0 0.75rem 0.25rem rgba(66, 126, 255, 0.4) inset;
   background-color: transparent;
   border: 1px solid white;
   border-radius: 15px;
}
.card-detail {
   display: flex;
   flex-direction: column;
   align-items: center;
   background-color: transparent;
}
.card-sub-detail {
   width: min-content;
   box-shadow: 6px 15px 4px rgb(43, 43, 43);
   padding: 30px 6px;
   color: white;
   border-radius: 15px;
   background-color: transparent;
   margin: 10px;
}

.container-activities {
   display: flex;

   flex-wrap: wrap;

   justify-content: space-between;
   height: 100%;
   width: 100%;
   background-color: transparent;
}

.activities {
   box-shadow: 0 2rem 6rem rgba(66, 255, 236, 0.4) inset;
   color: white;
   border-radius: 15px;
   background-color: transparent;
   height: 250px;
   width: 400px;
   border: 3px solid white;
   margin: 10px;
}

.sub-nav-1 {
   display: flex;
   flex-direction: column;
   justify-content: space-around;
}

.sub-nav2 {
   display: flex;
   flex-direction: column;
   justify-content: end;
}
.button-detail {
   font-size: 2rem;
   width: 200px;
   height: 70px;
   box-shadow: 0 2rem 1rem rgba(72, 93, 255, 0.4) inset;
   background-color: transparent;
   border: 3px solid black;
}
#button-detail {
   width: 100%;
   display: flex;
}
